/*--------------------------------------------*/
/* GLOBAL CONFIG                              */
/*--------------------------------------------*/


body {
	font-family:Helvetica,Verdana,sans-serif;
	font-size:14px;
	text-align:center;
}

.af_panelFormLayout_content-cell {
	border-collapse: collapse;
	padding: 1px;
	}
	
.boldtext {
	font-weight: bold;
	}
		
.smalltext {
	font-size: small;
	}
	

	
/* link style */
a img
	{
	border: none;
	}

.alignRight {
	text-align: right;
	}
	
#innerTableTop td {
	vertical-align: top;
	}

.hundredPercent {
	width: 100%;
	}	
	
.nowrap {
	white-space: nowrap;
	overflow: hidden;
	}
	
/*--------------------------------------------*/
/* LAYOUT CONTAINERS                          */
/*--------------------------------------------*/

#navsidebarview {
	position: absolute;
	width: 190px;
	
}

#mainview {
	float: none;
	margin-left: 189px;
	margin-bottom: 10px;
}

#mainviewcontainer {
	position: absolute;
	left:10px;
	right:10px;
	margin-top: 70px;
}

#mainviewcontent {
	float: none;
	width: 100%;;
}

#main {
	float: none;
	}

#mainviewcomments {
	float: none;
	width: 100%;
	margin-top: 9px;
	}
	
#reportcontent {
	float: none;
	margin-top:10px;
}

#navBox {
	width: 100%;
}

#navText {
	overflow: hidden;
	width: 159px;
}

/*--------------------------------------------*/
/* HEADER AND FOOTER					      */
/*--------------------------------------------*/


#headerImage {
	position: absolute;
	left: 11px;
	top: 6px;
	z-index: 99;
}

#headerHeader {
	font-size: 25pt;
	position: absolute;
	top: 23px;
	color: black;
	left: 185px;
}

#headerLogout {
	position: absolute;
	height: 30px;
	padding-right:15px;
	background-image: url(../images/top-bar-right.png);
	background-position: top right;
	background-repeat: no-repeat;
	left:0px;
	right:0px;
	text-align: right;
	padding-top: 40px;
}

#headerview {
	float: none;
	height: 70px;
	background-image: url(../images/top-bar-left.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	left:10px;
	right:10px;
	position: absolute;
}

#footerContent {
	float: right;
	margin-right: 2px;
	margin-bottom: 12px;
}

#footerText {
	font-size: 10px;
	vertical-align: top;
}

/*--------------------------------------------*/
/* LOGIN SCREEN     					      */
/*--------------------------------------------*/

#loginwrapper {
  	position: absolute;
  	bottom: 50%;
  	right: 50%;
  	height:269px;
  	width:791px;
}
#logincontainer {
	background-image: url(../images/webest-login.jpg);
	background-repeat: no-repeat;
    background-position: top left;
  	-moz-border-radius:15px;
  	position: relative;
  	left: 50%;
  	top: 50%;
  	height: 269px;
    width: 791px;
}

#loginwebestimation {
	font-size: 25pt;
	text-align: left;	
	position: absolute;
	top: 34px;
	left: 171px;
	}
	
#loginpleaseenter {
	font-size: 1em;
	position: absolute;
	top: 115px;
	left: 248px;
	}
	
#loginform {
	font-size: 1em;
	position: absolute;
	top: 140px;
	left: 275px;
	}
	
#loginform input {
	margin-left: 5px;
	margin-bottom: 2px;
	}
	
/*--------------------------------------------*/
/* ERROR STYLES     					      */
/*--------------------------------------------*/
	
#errorwrapper {
  	position: absolute;
  	bottom: 50%;
  	right: 50%;
  	height:269px;
  	width:791px;
}
#errorcontainer {
	background-image: url(../images/webest-error.jpg);
	background-repeat: no-repeat;
    background-position: top left;
  	-moz-border-radius:15px;
  	position: relative;
  	left: 50%;
  	top: 50%;
  	height: 269px;
    width: 791px;
}

#errorcontainer #content {
	font-size: 1em;
	position: absolute;
	top: 40px;
	left: 220px;
	width: 350px;
	overflow: hidden;	}

#errorcontainer h1 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 5px;
	}
	
#errorcontainer div {
	text-align: left;
	}
	
#errorlink {
	left: 220px;
	position: absolute;
	bottom: 50px;
	text-align: center !important;
	width: 350px;
	}

.error {
	color: red;
	font-style: italic;
	position: absolute;
	font-size: 11px;
	top: 73px;
	left: 3px;
	}
	
.AFErrorIconStyle {
	display: none !important;
}

.AFRequiredIconStyle {
	display: none !important;
}
	
/*--------------------------------------------*/
/* POPUP STYLES     					      */
/*--------------------------------------------*/
	
.wrapper {
	position: fixed;
  	bottom: 50%;
  	right: 50%;
}
.container {
	border-radius:15px;
	-moz-border-radius:15px;
  	position: relative;
  	left: 50%;
  	top: 50%;
  	box-shadow: 2px 2px 2px #666666;
  	background:white;
  	padding:15px;
  	overflow:visible;
  	z-index:101;
}
.backgrounder {
    background: none repeat scroll 0 0 black;
    height: 4000px;
    left: -1000px;
    opacity: .75;
    position: fixed;
    top: -1000px;
    width: 4000px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	z-index:100;
}

/* FORMATS FOR PI HISTORY */
.sol_pihistory_wrapper {
	width:400px;
  	height:400px;
}

.sol_pihistory_container {
	width:400px;
  	height:400px;
}
/* FORMATS FOR SAVE AS TEMPLATE */
.saveTemplatePopup_wrapper {
	width:300px;
  	height:130px;
}

.saveTemplatePopup_container {
	width:300px;
  	height:130px;
}

/* FORMATS FOR NEW ESTIMATE */
.est_newestimate_wrapper {
	width:300px;
  	height:100px;
}

.est_newestimate_container {
	min-width:300px;
  	min-height:100px;
}

/* FORMATS FOR DELETE ESTIMATE */
.est_deletePopup_wrapper {
	width:170px;
  	height:80px;
}

.est_deletePopup_container {
	min-width:170px;
  	min-height:80px;
}

/* FORMATS FOR DELETE SOLUTION */
.sol_deletePopup_wrapper {
	width:170px;
  	height:80px;
}

.sol_deletePopup_container {
	min-width:170px;
  	min-height:80px;
}

#piHistoryTreeTable {
	overflow: auto;
	height: 300px;
}

/*--------------------------------------------*/
/* GRANULARITY TABLE     			          */
/*--------------------------------------------*/
	
.granularityblock td {
	vertical-align: top;
	}

.granularityblock label, .granularityblock .af_selectBooleanRadio_content {
	float:left;
	width:200px;
	display:block;
	height: 100%;
	white-space: normal;
	cursor: pointer;
}

.granularityblock input, .granularityblock img {
	float:left;
	display:none;
}

.granularityblock input:checked + label { 
   /* background:#0C87D1;*/
}

.granQuestSel {
	background-color: #a0d1ed !important;
	background-repeat: repeat-x !important;
	background-image: url("../images/backgrounds/granQuestSel.png") !important;
	background-position: bottom !important;
	}

/*--------------------------------------------*/
/* MESSAGE BOX							      */
/*--------------------------------------------*/	
	
.messageBox {
	margin-bottom: 3px;
	}

.af_messages_body {
	border: 1px solid #ffb73d;
	background: #ffffff url(../images/backgrounds/ui-bg_diagonals-thick_30_ffc73d_40x40.png) 50% 50% repeat;
	color: #111111;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius:	4px; 
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px; 
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*--------------------------------------------*/
/* HOME SCREEN							      */
/*--------------------------------------------*/	

.homescreen {
	width:100%;
	}

.homescreen td {
	font-size: small;
	}

.homebox {
	width:100%;
	}

.homescreen tr.vtop > td {
	vertical-align: top;
	width:50%;
	}

.homescreen td.space {
	padding-left:5px;
	}

/*--------------------------------------------*/
/* REPORT						   		      */
/*--------------------------------------------*/

.reportUnit {
	margin-left: 5px;
	font-weight: normal;
	}
	
.reportHeader h1.af_showDetailHeader {
	font-family:Helvetica,Verdana,sans-serif;
	font-size:14px;
	}
	
.reportHeader h1.af_panelHeader {
	font-family:Helvetica,Verdana,sans-serif;
	font-size:14px;
	}
	
.reportContent td {
	font-family:Helvetica,Verdana,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	border-collapse: collapse;
	padding: 1px;
	}
	
.reportContent  {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	}

.reportContentPhases td {
	font-family:Helvetica,Verdana,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	border-collapse: collapse;
	padding: 1px;
	}
	
.reportContentPhases  {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	}

.reportValue  {
	font-weight: normal;
	}
	
.reportContentMilestones  {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	}

.reportContentMilestones td {
	font-family:Helvetica,Verdana,sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	border-collapse: collapse;
	padding: 0px;
	}
	
.MilestonesTextBold {
	font-weight: bold;
	font-size: 12px;
	}
	
.MileStonesText {
	font-weight: normal;
	font-size: 12px;
	}

/*--------------------------------------------*/
/* SELECT BOXES WIDTHS						  */
/*--------------------------------------------*/	

#Estimator {
	width: 213px;
	}
	
#organization {
	width: 213px;
	}
	
#Division {
	width: 213px;
	}
	
#Country {
	width: 213px;
	}

#applicationtypegroup {
	width: 213px;
	}
	
#ApplicationType {
	width: 213px;
	}
	
#industrysectorgroup {
	width: 213px;
	}
	
#industrysector {
	width: 213px;
	}
	
#MonetaryUnit {
	width: 213px;
	}
	
#EffortUnit {
	width: 213px;
	}
	
#MTTDTimeUnit {
	width: 213px;
	}
	
#DaysPerWeek {
	width: 213px;
	}
	
#HoursPerDay {
	width: 213px;
	}
	
	
/*--------------------------------------------*/
/* DIVERSE */
/*--------------------------------------------*/	

/* hide "selected in paneltabs */
.x9y {
	display:none;
	}
	
/* hide "Auswï¿½hlen" in Selection-Tables */
.p_OraHiddenLabel {
	display:none;
}

.statusIndicator {
	height:20px;
	display:block;
	padding-top:13px;
	}

.p_OraTreeRowSelected a {
   /* font-weight:bold !important; */
    text-decoration:underline;
    color: #003366 !important;
    
}

.OraInlineErrorText {
    color: red !important;
    
}

td div ul {
	list-style-type: none;
	margin-top: 0px;
	padding-left: 20px;	
}

.af_column_cell-text {
	vertical-align: top !important; }

.sizingTable td {
	text-align: right;
	}
		
.p_AFReadOnly .af_inputText_content, div.af_inputText_content, span.af_inputText_content, div.af_inputDate_content {
	border: none !important;
	line-height: 16px;
	background: none !important;
	}
	